.Article {
	max-width: 1024px;
	margin: 0 auto;
}

.ArticleHeader {
	margin-bottom: 2rem;

	&--title {
		@include article-title();
	}

	&--subtitle {
		@include article-subtitle();
	}

	&--intro {
		@include article-intro();
	}

	&--date {
		@include article-date();
	}
}

.ArticleBody {
}
