$carousel-height: calc(100vh - 240px);

.Carousel {
	min-width: 100%;
	height: $carousel-height;

	&:hover {
		.nav-left,
		.nav-right {
			opacity: 1;
		}
	}

	// Mobile styles
	@media (max-width: 600px) {
		.Carousel--container {
			flex-direction: column;
			width: 100%;
		}

		.CarouselItem,
		.CarouselItem--overlay {
			width: 100%;
			margin-bottom: 1rem;
		}

		.Carousel--navigation {
			display: none;
		}

		.CarouselItem--overlay {
			opacity: 1;
		}

		.CarouselItem--image {
			opacity: 0.85;
		}
	}
}

.Carousel--container {
	position: absolute;
	height: $carousel-height;
	display: flex;
	justify-content: flex-start;

	transition: transform 500ms linear;
}

.CarouselItem {
	width: $carousel-four-col;
	@media (max-width: 1200px) {
		width: $carousel-three-col;
	}
	@media (max-width: 1000px) {
		width: $carousel-two-col;
	}
	height: $carousel-height;
	margin-right: 1rem;
	background: black;

	transition: width 300ms ease;

	&:hover {
		.CarouselItem--image {
			@media (min-width: 601px) {
				opacity: 0.3;
			}
		}
		.CarouselItem--overlay {
			opacity: 1;
		}
	}

	&--title {
		font-size: 3rem;
		font-weight: 400;

		margin-bottom: 0.25rem;
	}

	&--subtitle {
		font-size: 1.5rem;
		font-style: italic;
		margin: 0;
		line-height: 1;
	}

	&--overlay {
		position: absolute;
		width: $carousel-four-col;
		@media (max-width: 1200px) {
			width: $carousel-three-col;
		}
		@media (max-width: 1000px) {
			width: $carousel-two-col;
		}
		height: 100%;
		z-index: 50;
		opacity: 0;
		padding: 2rem;
		color: $light;
		cursor: pointer;

		transition: opacity 300ms ease, width 300ms ease;
	}

	&--image {
		height: 100%;
		opacity: 1;

		transition: opacity 300ms ease;
	}

	.gatsby-image-wrapper {
		height: 100%;
	}
}

.Carousel--navigation {
	position: absolute;
	width: 100%;
	height: $carousel-height;
	z-index: 50;
	pointer-events: none;

	nav {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&:hover {
			opacity: 1;
		}

		.nav-left,
		.nav-right {
			height: 100%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding: 1rem;
			opacity: 0;

			transition: opacity 500ms ease;
		}

		.nav-left {
			padding-right: 6rem;
		}

		.nav-right {
			padding-left: 6rem;
		}
	}

	button {
		border: none;
		pointer-events: all;
		background: none;
		cursor: pointer;
		&#previous::after {
			font-size: 3rem;
			font-weight: 600;
			color: $light;
			text-shadow: 1px 1px 2px #666;
			content: "<";
		}
		&#next::after {
			font-size: 3rem;
			font-weight: 600;
			color: $light;
			text-shadow: 1px 1px 2px #666;
			content: ">";
		}
	}
}
