.GraceComponent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay-container {
  &[data-expanded="false"] {
    .overlay-text {
      font-size: 6rem;
    }
    .overlay-image {
      opacity: 0;
      height: 0;
    }
  }
}

.overlay-text {
  @include font-xl();
  line-height: 0.8;
  width: min-content;
  text-align: center;
}

.overlay-image {
  margin-top: -6rem;
}
