$navigation-height: 65px;

$left-offset-top: 78px;
$top-right-offset-top: 100px;
$right-offset-top: 200px;

$gutter: 2rem;

.LayoutContainer {
	max-width: 1440px;
	width: 100%;
	min-height: 100vh;
	padding: 0 2rem;
	// padding: 0rem;
	margin: 0 auto;
	position: relative;

	display: flex;
	justify-content: center;

	transition: max-width $transition-default;
}

.layout {
	width: 100%;
	display: flex;

	.top-right {
		position: absolute;
		top: $top-right-offset-top;
		width: 50%;
		right: 2rem;

		transition: top $transition-default;
	}

	.left {
		top: $left-offset-top;
		width: 50%;
		width: 40%;
		height: 100%;
		position: absolute;

		transition: width $transition-default, top $transition-default;
	}

	.right {
		position: absolute;
		top: $right-offset-top;
		right: 2rem;

		width: 50%;

		display: flex;
		justify-content: center;

		transition: width $transition-default, top $transition-default,
			right $transition-default;
	}

	main {
		width: 100%;
	}
}

@mixin one-col-layout() {
	.LayoutContainer {
		max-width: 100%;
	}

	// LayeredHero goes to top left to act as a home brand logo
	.left {
		top: 0;
	}

	// content column expands to full width (adjusted for padding weirdness)
	.right {
		width: calc(100% - 4rem);
		right: 2rem;
	}

	.LayeredHero {
		width: 175px;
		top: 2rem;

		.overlay-text {
			font-size: 4rem;
		}

		.overlay-icon svg {
			top: 0;
			right: -15%;
			opacity: 1;
		}
	}

	.Navigation {
		// top: 100px;
		left: calc(50% - 2rem);
	}
}

.site-root.borders {
	border: 1px solid red;

	.top-right {
		border: 1px solid orange;
	}

	.left {
		border: 1px solid blue;
	}

	.right {
		border: 1px solid green;
	}
}

.site-root {
	@media (max-width: 1200px) {
		@include one-col-layout();
	}
}

.site-root.work,
.site-root.writing {
	@include one-col-layout();
}
