$navigation-height: 65px;

$left-offset-top: 78px;
$top-right-offset-top: 112px;
$right-offset-top: 200px;

$gutter: 2rem;

.LayoutContainer {
	position: relative;

	width: 100%;
	max-width: 1440px;
	min-height: 100vh;

	margin: 0 auto;
	padding: 0 2rem;

	display: flex;
	justify-content: center;

	transition: width $transition-default, top $transition-default,
		left $transition-default, right $transition-default,
		max-width $transition-default;
}

.Layout {
	width: 100%;
	display: flex;
	position: relative;

	transition: width $transition-default, top $transition-default,
		left $transition-default, right $transition-default;

	.Layout--left {
		top: $left-offset-top;
		width: 50%;
		position: absolute;

		transition: width $transition-default, top $transition-default,
			left $transition-default, right $transition-default;
	}

	.Layout--top-right {
		position: absolute;
		top: $top-right-offset-top;

		left: 50%;

		transition: width $transition-default, top $transition-default,
			left $transition-default, right $transition-default;
	}

	.Layout--right {
		position: absolute;
		top: $right-offset-top;

		left: 50%;
		width: 45%;

		display: flex;
		justify-content: center;

		transition: width $transition-default, top $transition-default,
			left $transition-default, right $transition-default;
	}

	main {
		width: 100%;
	}
}

@mixin one-col-layout() {
	// Layout container goes to full width
	.LayoutContainer {
		// width: 100%;
	}

	.Layout--top-right {
		width: 50%;
	}

	// Main content column expands to full width (adjusted for padding weirdness)
	.Layout--right {
		left: 0;
		width: 100%;
	}
}

@mixin shrink-columns() {
	.Layout--right {
		width: 55%;
		left: 45%;
	}

	.Layout--top-right {
		left: 45%;
	}

	.Layout--left {
		width: 40%;
	}
}

@mixin minimize-layered-hero() {
	.Layout--left {
		top: 0;
	}

	.LayeredHero {
		width: 175px;
		top: 2rem;

		.LayeredHero--text {
			font-size: 4rem;
		}

		.LayeredHero--icon svg {
			top: 0;
			right: -15%;
			opacity: 1;
		}
	}
}

@mixin shrink-layered-hero() {
	.LayeredHero {
		// width: 175px;
		// top: 2rem;

		.LayeredHero--text {
			// font-size: 6rem;
		}

		.LayeredHero--image {
			// margin-top: -4rem;
		}

		// .LayeredHero--icon svg {
		// 	top: 0;
		// 	right: -15%;
		// 	opacity: 1;
		// }
	}
}

@mixin home-layout() {
	.LayeredHero {
		width: auto;
	}

	.Layout--left {
		width: 100%;
		display: flex;
		justify-content: center;
	}
}

// All pages go to one-col layout on smaller screens
.site-root.about {
	@include respond-to(lg) {
		@include shrink-layered-hero();
		@include shrink-columns();
	}

	@include respond-to(md) {
		@include one-col-layout();
		.Layout--top-right {
			left: 50%;
		}
		@include minimize-layered-hero();
	}
}

.site-root.home {
	@include respond-to(md) {
		@include home-layout();
	}
}

// Work and Writing pages go to one-col layout at any screen size
.site-root.work,
.site-root.writing {
	@include one-col-layout();
	@include minimize-layered-hero();
}

// (For debugging) Show layout borders
.site-root.borders {
	border: 1px solid red;

	.Layout--top-right {
		border: 1px solid orange;
	}

	.Layout--left {
		border: 1px solid blue;
	}

	.Layout--right {
		border: 1px solid green;
	}
}
