.layout-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;

  height: 100vh;
  display: flex;
  justify-content: center;
}

.layout {
  width: 100%;
  display: flex;
  justify-content: space-around;

  .left {
    left: 0;
    width: 50%;
  }

  .right {
    right: 0;
    width: 50%;
  }
}
