$gutter: 2rem;

$navigation-height: 65px;

.layout-container {
	max-width: 1440px;
	width: 100%;
	min-height: 100vh;
	padding: 0 2rem;
	margin: 0 auto;
	position: relative;

	display: flex;
	justify-content: center;

	transition: max-width $transition-default;
}

.layout {
	width: 100%;
	display: flex;

	.top-right {
		position: absolute;
		top: 78px;
		width: 50%;
		right: 2rem;

		transition: top $transition-default;
	}

	.left {
		top: 78px;
		width: 40%;
		position: absolute;

		transition: width $transition-default, top $transition-default;
	}

	.right {
		top: 78px;
		right: 2rem;
		width: 50%;
		position: absolute;

		display: flex;
		justify-content: center;

		transition: width $transition-default, top $transition-default,
			right $transition-default;
	}

	main {
		width: 100%;
	}
}

@mixin one-col-layout() {
	.layout-container {
		max-width: 100%;
	}

	.left {
		top: 0;
	}

	.right {
		top: 78px + $navigation-height * 2;
		width: calc(100% - 4rem);
		right: 2rem;
	}

	.top-right {
		top: 100px;
	}

	.GraceComponent {
		width: 175px;
		top: 2rem;

		.overlay-image {
			// opacity: 0 !important;
		}

		.overlay-text {
			font-size: 4rem;
		}

		.overlay-icon svg {
			top: 0;
			right: -15%;
			opacity: 1;
		}
	}

	.navigation {
		// top: 100px;
		left: calc(50% - 2rem);
	}
}

.site-root {
	.right {
		top: $navigation-height * 1.5 + 78px;
	}

	// border: 1px solid red;

	// .top-right {
	//   border: 1px solid orange;
	// }

	// .left {
	//   border: 1px solid blue;
	// }

	// .right {
	//   border: 1px solid green;
	// }
}

.site-root.about {
	@media (max-width: 1200px) {
		@include one-col-layout();
	}
}

.site-root.work,
.site-root.writing {
	@include one-col-layout();
}
