.layout-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;

  height: 100vh;
  display: flex;
  justify-content: center;
}

.layout {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;

  .left {
    border: 1px solid red;
    position: fixed;
    left: 0;
    height: 100vh;
    width: 50%;
  }

  .right {
    border: 1px solid blue;
    position: fixed;
    right: 0;
    width: 50%;
  }
}
