.navigation {
  display: flex;
  justify-content: center;
  opacity: 1;
  transition: opacity 500ms ease;
}

.top-navigation {
  position: fixed;
  top: 0;
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 1rem 3rem 1rem 0;
}

.navigationItem a {
  color: currentColor;
}

.navigation.fade-out {
  opacity: 0;
}
