.Navigation {
	width: 100%;
	max-width: 550px;
	transition: top $transition-default, left $transition-default;
}

.Navigation--icon-open {
	position: fixed;
	top: 2rem;
	right: 2rem;

	z-index: 50;

	width: 1.5rem;
	height: 1.5rem;
	margin-left: auto;
	cursor: pointer;

	display: none;
}

.Navigation--icon-close {
	position: fixed;
	top: 2rem;
	right: 2rem;
	cursor: pointer;

	display: none;
}

.Navigation--links {
	display: flex;
	@include respond-to(md) {
		justify-content: space-between;
	}
}

.Navigation.r .Navigation--links {
	justify-content: flex-end;
	.Navigation--link:first-child {
		margin-right: 1.5rem;
	}
	.Navigation--link:last-child {
		margin-right: 0;
	}
}

.Navigation--link {
	display: inline-flex;
	align-items: center;
	margin-bottom: 0;
	margin-right: 3rem;

	@include respond-to(md) {
		margin: 0;
		// margin-right: 2rem;
	}

	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		margin-right: 0;
	}
}

.Navigation .Navigation--link a {
	font-size: 1.25rem;
	color: currentColor;
	letter-spacing: 0.25px;
	@include custom-underline(2px, currentColor);

	&:hover {
		color: currentColor;
	}

	// &.active {
	// 	// font-weight: bold;
	// }
}

.Navigation--full {
	opacity: 0;
	width: 100%;
	height: 100vh;
	position: fixed;
	background: $theme-darkblue;

	&.about {
		background: $theme-green;
	}

	&.writing {
		background: $theme-dark;
	}

	&.work {
		background: $theme-lightblue;
	}

	&.home {
		background: $theme-darkblue;
	}

	top: 0;
	left: 0;
	z-index: 50;
	pointer-events: none;

	transition: opacity 500ms ease, background $transition-default 250ms;

	.Navigation--links {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		width: 100%;
		height: 100vh;
	}
}

.Navigation[data-collapsed="true"] {
	> .Navigation--links {
		display: none;
	}

	&[data-open="true"] {
		.Navigation--full {
			opacity: 1;
			pointer-events: all;
		}
	}

	.Navigation--link {
		margin: 0.5rem 0;
	}

	.Navigation--icon-open {
		display: block;
	}

	.Navigation--icon-close {
		display: block;
	}
}
