.Navigation li {
	margin-bottom: 0;
}

.Navigation {
	width: 100%;
	max-width: 550px;
	transition: top $transition-default, left $transition-default;
}

.Navigation ul {
	display: flex;
	justify-content: space-between;
}

.Navigation.r ul {
	justify-content: flex-end;
	li:first-child {
		margin-right: 1.5rem;
	}
	li:last-child {
		margin-right: 0;
	}
}

.Navigation li {
	display: inline-flex;
	align-items: center;
	// margin: 1rem 3rem;
	&:first-child {
		margin-left: 0;
	}
}

.Navigation li a {
	font-size: 1.25rem;
	color: currentColor;
	letter-spacing: 0.25px;
	@include custom-underline(2px, currentColor);

	&:hover {
		color: currentColor;
	}

	// &.active {
	// 	// font-weight: bold;
	// }
}
