.OtherWritingItems,
.OtherWorkItems {
	margin: 3rem 0;

	&--navigation {
		display: flex;
		justify-content: space-between;
		padding: 1rem 0;

		display: none;
	}

	&--items {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;

		// @include respond-to(sm) {
		//   display: grid;
		//   grid-template-columns: 1fr 1fr;
		//   grid-gap: 1rem;
		// }
	}
}

.ItemPreview {
	flex-basis: calc(25% - 1rem);
	@include respond-to(sm) {
		flex-basis: calc(50% - 1rem);
	}
	margin: 0 0.5rem 1rem;
	opacity: 0.5;
	transition: opacity 500ms ease;

	.gatsby-image-wrapper {
		height: 180px;
	}

	&[data-active="true"] {
		opacity: 1;
	}

	&:hover:not([data-active="true"]) {
		opacity: 0.75;
	}

	&--copy {
		margin-top: 1.5rem;
	}

	&--title {
		font-size: 1.5rem;
		font-weight: 800;
		margin: 0.5rem 0;
	}

	&--subtitle {
		font-size: 0.85rem;
		font-weight: 300;
		font-style: italic;
	}
}
