.overlay-container {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .overlay-text {
    font-weight: 700;
    font-size: 8rem;
    line-height: 1;
    z-index: 10;
    width: min-content;
    text-align: center;
  }

  .overlay-image {
    margin-top: -8rem;
    width: 400px;
    z-index: -1;
  }
}
