* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-family: "Moret";
	font-size: $font-size-base;
	background: $background;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	// overflow-y: hidden;
	position: relative;

	color: $color;
	background: $background;
	transition: background $transition-default;

	&[data-current-page="writing"] {
		background: $theme-dark;
	}

	&[data-current-page="work"] {
		background: $theme-lightblue;
	}

	&[data-current-page="about"] {
		background: $theme-green;
	}
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

svg {
	width: 100%;
	height: 100%;
}

ul[class] {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

a {
	color: $link-color;
	&[class] {
		text-decoration: none;
	}

	transition: color 350ms ease;
}

a:hover {
	color: rgba($link-color, 0.75);
	&[class] {
		color: currentColor;
	}
}

a:visited {
	color: currentColor;
}

.WritingPostTemplate {
	.cols {
		display: flex;
	}

	.col {
		flex: 1;

		margin: 0 1rem;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}

	@include respond-to(md) {
		.cols {
			flex-direction: column;
		}

		.col {
			margin: 1rem 0rem;
		}
	}
}
