:root {
	--theme-lightblue: #bad3d7;
	--theme-darkblue: #8cb9c6;
	--theme-green: #24533f;
	--theme-dark: #282b29;
	--theme-light: #f2f8f9;

	--background-color: var(--theme-darkblue);
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-family: "Moret";
	font-size: $font-size-base;
	background: var(--background-color);
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	// overflow-y: hidden;
	position: relative;

	color: $color;
	background: var(--background-color);
	transition: background $transition-default;

	// &[data-current-page="writing"] {
	// 	// background: $theme-dark;
	// 	// --background-color: var(--theme-dark)
	// }

	// &[data-current-page="work"] {
	// 	// background: $theme-lightblue;
	// 	// --background-color: var(--theme-lightblue)
	// }

	// &[data-current-page="about"] {
	// 	// background: $theme-green;
	// 	// --background-color: var(--theme-green)
	// }
}

.site-root {
	background: var(--background-color);
	transition: background $transition-default;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

svg {
	width: 100%;
	height: 100%;
}

small {
	font-size: 1rem;
}

ul[class] {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

a {
	color: $link-color;
	&[class] {
		text-decoration: none;
	}

	transition: color 350ms ease;
}

a:hover {
	color: rgba($link-color, 0.75);
	&[class] {
		color: currentColor;
	}
}

a:visited {
	color: currentColor;
}

.WritingPostTemplate {
	.cols {
		display: flex;
	}

	.col {
		flex: 1;

		margin: 0 1rem;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}

	@include respond-to(md) {
		.cols {
			flex-direction: column;
		}

		.col {
			margin: 1rem 0rem;
		}
	}

	@include respond-to(sm) {
		// margin-top: -50px;
	}
}

.WorkSampleTemplate {
	max-width: 900px;
	margin: 0 auto;

	* {
		// text-shadow: 1px 1px 3px rgba($theme-dark, 0.25);
	}

	.cols {
	}

	.col {
	}

	.intro {
		font-size: 1.5rem;
		margin-bottom: 3rem;
		max-width: 700px;
		margin-right: auto;
		margin-left: auto;
		@include respond-to(md) {
			font-size: 1.15rem;
		}
	}

	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	span,
	.intro {
		// text-shadow: 0.5px 0.5px 1.5px rgba($theme-dark, 0.25);
	}

	p {
		font-size: 1.25rem;
	}

	.title,
	.subtitle,
	.intro {
		text-align: center;
	}

	.embedded-asset {
		margin: 2rem auto;
	}

	@include respond-to(md) {
	}
}

$squiggly-line-width: 400px;
$squiggly-line-width-sm: 300px;

@keyframes wave {
	0% {
		left: -1 * $squiggly-line-width;
	}
	100% {
		left: 0;
	}
}

@keyframes wave-sm {
	0% {
		left: -1 * $squiggly-line-width-sm;
	}
	100% {
		left: 0;
	}
}

@mixin line-normal() {
	width: $squiggly-line-width;

	svg {
		z-index: 1;
		position: relative;
		left: -1 * $squiggly-line-width / 2;
		width: $squiggly-line-width * 2;
		animation: wave 6s linear infinite;
	}
}

@mixin line-small() {
	width: $squiggly-line-width-sm;

	svg {
		z-index: 1;
		position: relative;
		left: -1 * $squiggly-line-width-sm / 2;
		width: $squiggly-line-width-sm * 2;
		animation: wave-sm 6s linear infinite;
	}
}

.SquigglyLine {
	margin: 2rem auto;

	@include respond-to(md) {
		margin: 1rem auto;
	}

	@include respond-to(sm) {
		@include line-small();
	}
	
	&.small {
		@include line-small();
	}

	@include line-normal();

	// height: 20px;
	// margin: 2rem auto;
	position: relative;
	overflow: hidden;
	// height: 24px;

	// border: 1px solid red;
	// svg { border: 1px solid blue;}

	// animation: 3s wave linear infinite;

	&::before {
		z-index: 2;
		content: "";
		background: linear-gradient(
			270deg,
			transparent 0%,
			rgba($theme-lightblue, 0) 80%,
			rgba($theme-lightblue, 1) 100%
		);
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;

		transition: background $transition-default 500ms;
	}

	&::after {
		z-index: 2;
		content: "";
		background: linear-gradient(
			90deg,
			transparent 0%,
			rgba($theme-lightblue, 0) 80%,
			rgba($theme-lightblue, 1) 100%
		);
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		right: 0;

		transition: background $transition-default 500ms;
	}
}

// .site-root[data-current-page="writing"] {
// 	.SquigglyLine::before {
// 		background: linear-gradient(
// 			270deg,
// 			transparent 0%,
// 			rgba($theme-dark, 0) 80%,
// 			rgba($theme-dark, 1) 100%
// 		);
// 	}
// 	.SquigglyLine::after {
// 		background: linear-gradient(
// 			90deg,
// 			transparent 0%,
// 			rgba($theme-dark, 0) 80%,
// 			rgba($theme-dark, 1) 100%
// 		);
// 	}
// }

// .site-root[data-current-page="work"] {
// 	.SquigglyLine::before {
// 		background: linear-gradient(
// 			270deg,
// 			transparent 0%,
// 			rgba($theme-lightblue, 0) 80%,
// 			rgba($theme-lightblue, 1) 100%
// 		);
// 	}
// 	.SquigglyLine::after {
// 		background: linear-gradient(
// 			90deg,
// 			transparent 0%,
// 			rgba($theme-lightblue, 0) 80%,
// 			rgba($theme-lightblue, 1) 100%
// 		);
// 	}
// }

// .site-root[data-current-page="about"] {
// 	.SquigglyLine::before {
// 		background: linear-gradient(
// 			270deg,
// 			transparent 0%,
// 			rgba($theme-green, 0) 80%,
// 			rgba($theme-green, 1) 100%
// 		);
// 	}
// 	.SquigglyLine::after {
// 		background: linear-gradient(
// 			90deg,
// 			transparent 0%,
// 			rgba($theme-green, 0) 80%,
// 			rgba($theme-green, 1) 100%
// 		);
// 	}
// }