* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-family: "Moret";
	font-size: $font-size-base;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	position: relative;

	color: $color;
	background: $background;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

svg {
	width: 100%;
	height: 100%;
}

ul[class] {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

a {
	color: $link-color;
	&[class] {
		text-decoration: none;
	}
}

a:hover {
	color: rgba($link-color, 0.28);
	&[class] {
		color: currentColor;
	}
}

a:visited {
	color: currentColor;
}

.embedded-asset {
	width: 100%;
	height: auto;

	video {
		width: 100%;
		height: auto;
	}
}

.responsive-image {
	display: block;
	width: 100%;
	height: auto;
}

// TODO: Move elsewhere
.ArticlePreview {
	.gatsby-image-wrapper {
		max-height: 50vh;
	}
}

.ArticlePreview {
	height: 50vh;
	display: flex;
	justify-content: space-between;

	> * {
		flex: 1;
	}

	.preview-image {
		margin-right: 1rem;
	}

	.preview-copy {
		margin-left: 1rem;
	}
}

$active-tag-color: $darkgreen;

.Tag {
	cursor: pointer;

	&[data-active="true"] {
		font-weight: 600;
		span {
			margin-left: 0.5rem;
			padding: 0.1rem 0.25rem;
			color: $color;
			border: 1px solid $color;
		}
	}
}

.tag-list {
	ul {
		display: flex;
		list-style: none;
		a {
			margin-right: 1rem;
			border: 1px solid $color;
			padding: 0.5rem;
		}
	}
}

.anim.ease-in {
	opacity: 0;
}
