@mixin custom-underline($height, $color) {
	text-decoration: none;
	position: relative;
	display: inline-block;
	margin-bottom: 0.5em;
	&::after {
		content: "";
		position: absolute;
		background-color: $color;
		height: $height;
		top: 100%;
		left: 0%;
		width: 0%;
		transition: width $transition-default;
	}
	&.active {
		&::after {
			width: 100%;
		}
	}
}

@mixin respond-to($breakpoint) {
	@if $breakpoint == "xs" {
		@media (max-width: $breakpoint-xs) {
			@content;
		}
	} @else if $breakpoint == "sm" {
		@media (max-width: $breakpoint-sm) {
			@content;
		}
	} @else if $breakpoint == "md" {
		@media (max-width: $breakpoint-md) {
			@content;
		}
	} @else if $breakpoint == "lg" {
		@media (max-width: $breakpoint-lg) {
			@content;
		}
	} @else if $breakpoint == "xl" {
		@media (max-width: $breakpoint-xl) {
			@content;
		}
	} @else if $breakpoint == "xxl" {
		@media (max-width: $breakpoint-xxl) {
			@content;
		}
	}
}

@mixin font-xl {
	font-size: $font-size-xl;

	@include respond-to(sm) {
		font-size: $font-size-xl * 0.85;
	}
}

@mixin large-paragraph-style() {
	font-size: 1.25rem;
}

@mixin h1-font-style() {
	font-size: 4rem;
	@include respond-to(lg) {
		font-size: 3.5rem
	}
	@include respond-to(sm) {
		font-size: 3rem;
	}
	
	margin-bottom: 0.15em;
}

@mixin h2-font-style() {
	font-size: 3rem;
	@include respond-to(lg) {}
	@include respond-to(md) {
		font-size: 2.5rem
	}
	@include respond-to(sm) {
		font-size: 2rem;
	}
}

@mixin h3-font-style() {
	font-size: 2rem;
	@include respond-to(md) {
		font-size: 1.5rem
	}
	@include respond-to(sm) {
		font-size: 1.35rem;
	}
}
@mixin h4-font-style() {
	font-size: 1.75rem;
	@include respond-to(lg) {
		font-size: 1.35rem
	}
	@include respond-to(md) {
		font-size: 1.15rem
	}
	@include respond-to(sm) {
		font-size: 1rem;
	}
}
@mixin h5-font-style() {
}
@mixin h6-font-style() {
}