$light: #f2f8f9;
$dark: #282b29;

$skyblue: #8cb9c6;
$iceblue: #bad3d7;
$darkgreen: #24533f;
$lightgreen: #9fbf6b;
$red: #b60a17;
$yellow: #fdbc45;
$otherblue: #6698a7;

$background: $skyblue;
$color: $light;
$link-color: $color;

$primary: $skyblue;

$font-family-heading: "Moret Bold";
$font-family-subheading: "Moret Semibold";
$font-family-body: "Moret Book";

$font-size-base: 18px;
$font-size-xl: 8rem;

$transition-duration-default: 700ms;
$transition-easing-default: ease-in-out;
$transition-default: $transition-duration-default $transition-easing-default;

@mixin font-xl {
  font-size: $font-size-xl;
}

@mixin custom-underline($height, $color) {
  text-decoration: none;
  position: relative;
  display: inline-block;
  margin-bottom: 0.5em;
  &::after {
    content: "";
    position: absolute;
    background-color: $color;
    height: $height;
    top: 100%;
    left: 0%;
    width: 0%;
    transition: width $transition-default;
  }
  &.active {
    &::after {
      width: 100%;
    }
  }
}
