$light: #f2f8f9;
$dark: #282b29;

$skyblue: #8cb9c6;
$iceblue: #bad3d7;
$darkgreen: #24533f;
$lightgreen: #9fbf6b;
$red: #b60a17;
$yellow: #fdbc45;
$otherblue: #6698a7;

$theme-dark: $dark;
$theme-lightblue: $iceblue;
$theme-darkblue: $skyblue;
$theme-green: $darkgreen;

$background: $skyblue;
$color: $light;
$link-color: $color;

$active-tag-color: $darkgreen;

$primary: $skyblue;

$breakpoint-xs: 320px;
$breakpoint-sm: 720px;
$breakpoint-md: 900px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1440px;
$breakpoint-xxl: 1680px;

$font-family-heading: "Moret Bold";
$font-family-subheading: "Moret Semibold";
$font-family-body: "Moret Book";

$font-size-base: 18px;
$font-size-xl: 8rem;

$transition-duration-default: 700ms;
$transition-easing-default: ease-in-out;
$transition-default: $transition-duration-default $transition-easing-default;

$carousel-four-col: 25vw;
$carousel-three-col: 33vw;
$carousel-two-col: 50vw;
