$light: #F2F8F9;
$dark: #282B29;

$skyblue: #8cb9c6;
$iceblue: #BAD3D7;
$darkgreen: #24533F;
$lightgreen: #9FBF6B;
$red: #B60A17;
$yellow: #FDBC45;
$otherblue: #6698A7;

$background: $skyblue;
$color: $light;
$link-color: $dark;

$primary: $skyblue;

$font-family-heading: "Moret Bold";
$font-family-subheading: "Moret Semibold";
$font-family-body: "Moret Book";

$font-size-base: 16px;
$font-size-xl: 8rem;

@mixin font-xl {
  font-size: $font-size-xl;
}
