$light: #f2f8f9;
$dark: #282b29;

$skyblue: #8cb9c6;
$iceblue: #bad3d7;
$darkgreen: #24533f;
$lightgreen: #9fbf6b;
$red: #b60a17;
$yellow: #fdbc45;
$otherblue: #6698a7;

$background: $skyblue;
$color: $light;
$link-color: $color;

$primary: $skyblue;

$breakpoint-sm: 600px;
$breakpoint-md: 900px;
$breakpoint-lg: 1260px;
$breakpoint-xl: 1440px;
$breakpoint-xxl: 1680px;

$font-family-heading: "Moret Bold";
$font-family-subheading: "Moret Semibold";
$font-family-body: "Moret Book";

$font-size-base: 18px;
$font-size-xl: 8rem;

$transition-duration-default: 700ms;
$transition-easing-default: ease-in-out;
$transition-default: $transition-duration-default $transition-easing-default;

@mixin font-xl {
	font-size: $font-size-xl;
}

@mixin custom-underline($height, $color) {
	text-decoration: none;
	position: relative;
	display: inline-block;
	margin-bottom: 0.5em;
	&::after {
		content: "";
		position: absolute;
		background-color: $color;
		height: $height;
		top: 100%;
		left: 0%;
		width: 0%;
		transition: width $transition-default;
	}
	&.active {
		&::after {
			width: 100%;
		}
	}
}

@mixin respond-to($breakpoint) {
	@if $breakpoint == "sm" {
		@media (max-width: $breakpoint-sm) {
			@content;
		}
	} @else if $breakpoint == "md" {
		@media (max-width: $breakpoint-md) {
			@content;
		}
	} @else if $breakpoint == "lg" {
		@media (max-width: $breakpoint-lg) {
			@content;
		}
	} @else if $breakpoint == "xl" {
		@media (max-width: $breakpoint-xl) {
			@content;
		}
	} @else if $breakpoint == "xxl" {
		@media (max-width: $breakpoint-xxl) {
			@content;
		}
	}
}
