$light: #f2f8f9;
$dark: #282b29;

$skyblue: #8cb9c6;
$iceblue: #bad3d7;
$darkgreen: #24533f;
$lightgreen: #9fbf6b;
$red: #b60a17;
$yellow: #fdbc45;
$otherblue: #6698a7;

$background: $skyblue;
$color: $light;
$link-color: $dark;

$primary: $skyblue;

$font-family-heading: "Moret Bold";
$font-family-subheading: "Moret Semibold";
$font-family-body: "Moret Book";

$font-size-base: 16px;
$font-size-xl: 8rem;

@mixin font-xl {
  font-size: $font-size-xl;
}
